.dropdown-field-wrapper {
    background: #fff;
    z-index: 1;
}

.dropdown-field {
    width:100%;
    overflow: hidden;
}

.spectrum-InputGroup-popover {
    left: 0 !important;
}

body {
    overflow: hidden;
}

